[submodule "repos/modules/mod_jet_accordion"]
	path = repos/modules/mod_jet_accordion
	url = git@github.com:Joomla-JET/mod_jet_accordion.git
[submodule "repos/modules/mod_jet_carousel"]
	path = repos/modules/mod_jet_carousel
	url = git@github.com:Joomla-JET/mod_jet_carousel.git
[submodule "repos/modules/mod_jet_map"]
	path = repos/modules/mod_jet_map
	url = git@github.com:Joomla-JET/mod_jet_map.git
[submodule "repos/modules/mod_jet_video"]
	path = repos/modules/mod_jet_video
	url = git@github.com:Joomla-JET/mod_jet_video.git
[submodule "repos/templates/tpl_jet_cassiopeia"]
	path = repos/templates/tpl_jet_cassiopeia
	url = git@github.com:Joomla-JET/tpl_jet_cassiopeia.git
